.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: rgba(126, 50, 214, 0.89);
}
.Login {
  padding: 60px 0;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.activeCard {
  color: rgb(7, 111, 230);
  background: rgb(192, 255, 211);
 }

.card {
  display: inline-block;
  text-align: center;
  width: 3em;
  font-size: 2em;
  box-shadow: 3px 6px rgb(175, 27, 189);
  margin: 1em;
  user-select: none;
  border: 1px solid;
  padding: 10px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
